.App {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Hide Vertical Scrollbar but Allow Scrolling */
::-webkit-scrollbar {
  width: 0px; /* Set width to 0 to hide */
}

::-webkit-scrollbar-track {
  background: transparent; /* Make track invisible */
}

::-webkit-scrollbar-thumb {
  background: transparent; /* Make thumb invisible */
}

/* Ensure scrolling still works */
body {
  overflow-y: scroll; /* Allows scrolling without visible scrollbar */
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}
